Repository PiTracLM/PiTrac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

actually use the method
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

fix path
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

missing root
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

Calibrate
  Software/web-server/calibration_manager.py
  Software/web-server/static/js/calibration.js
  Software/web-server/templates/calibration.html
Owners: @connorgallopo

fix args
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

Fix packages
  packaging/deps-artifacts/liblgpio1_0.2.2-1_arm64.deb
Owners: @connorgallopo

fix initramfs-tools error
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

more build fixes
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Rework + Tests
  Software/web-server/calibration_manager.py
  Software/web-server/config_manager.py
  Software/web-server/eslint.config.js
  Software/web-server/server.py
  Software/web-server/static/css/calibration.css
  Software/web-server/static/js/calibration.js
  Software/web-server/templates/calibration.html
  Software/web-server/tests/test_calibration_manager.py
Owners: @connorgallopo

fix conversion issue
  Software/web-server/static/js/calibration.js
Owners: @connorgallopo

More bugfixes
  packaging/build.sh
  packaging/uninstall-tar-deps.sh
Owners: @connorgallopo

Fixes
  Software/web-server/calibration_manager.py
  Software/web-server/static/js/calibration.js
  Software/web-server/templates/calibration.html
Owners: @connorgallopo

fixes
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

2
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

more fixes
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

Be more generous with shutdown waiting
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

WIP
  archived/docs/software/automated-setup.md
  docs/.tool-versions
  docs/camera/cameras.md
  docs/contributors.md
  docs/errata.md
  docs/getting-started.md
  docs/getting-started/getting-started.md
  docs/getting-started/introduction.md
  docs/hardware/hardware.md
  docs/index.md
  docs/integration/integration.md
  docs/roadmap.md
  docs/software/pi-setup.md
  docs/software/pitrac-install.md
  docs/software/software.md
  docs/software/using-pitrac.md
  docs/thisdoc.md
  docs/troubleshooting/troubleshooting.md
  docs/what-is-pitrac.md
Owners: @jamespilgrim, @jeshernandez, @connorgallopo, @markjonharman

Shutdown signal fix
  Software/LMSourceCode/ImageProcessing/lm_main.cpp
Owners: @jamespilgrim, @connorgallopo

Increase Test Cov
  Software/web-server/tests/test_activemq_integration.py
  Software/web-server/tests/test_testing_tools_manager.py
Owners: @connorgallopo

make sure we overwrite system lib
  packaging/build.sh
Owners: @connorgallopo

add screenshots for new UI to be used in docs
  docs/assets/images/interface/calibration.png
  docs/assets/images/interface/calibration_process.png
  docs/assets/images/interface/configuration.png
  docs/assets/images/interface/dashboard.png
  docs/assets/images/interface/dashboard_dark.png
  docs/assets/images/interface/dropdown_menu.png
  docs/assets/images/interface/status_indicators.png
  docs/assets/images/interface/testing.png
Owners: @jeshernandez, @connorgallopo

Add file from Mark
  Hardware/Connector Board v2/Assembly Files/PiTrac Pi Connector Top Position.csv
Owners: @markjonharman

Software Updates
  archived/docs/software/automated-setup.md
  archived/docs/software/configuration.md
  archived/docs/software/running-pitrac.md
  archived/docs/software/startup-guide.md
  docs/development/build-system.md
  docs/development/index.md
  docs/getting-started.md
  docs/index.md
  docs/integration/integration.md
  docs/integration/open-interface.md
  docs/integration/trugolf-integration.md
  docs/simulator-integration.md
  docs/software/pitrac-install.md
  docs/software/software.md
  docs/software/startup-guide.md
  docs/software/using-pitrac.md
  docs/troubleshooting.md
  docs/troubleshooting/debugging-guide.md
  docs/troubleshooting/testing-without-hardware.md
  docs/troubleshooting/troubleshooting.md
Owners: @jamespilgrim, @jeshernandez, @connorgallopo

add screenshots for new UI to be used in docs (#150)
  docs/assets/images/interface/calibration.png
  docs/assets/images/interface/calibration_process.png
  docs/assets/images/interface/configuration.png
  docs/assets/images/interface/dashboard.png
  docs/assets/images/interface/dashboard_dark.png
  docs/assets/images/interface/dropdown_menu.png
  docs/assets/images/interface/status_indicators.png
  docs/assets/images/interface/testing.png
Owners: @jeshernandez, @connorgallopo

Camera + Calibration Docs
  docs/camera/auto-calibration.md
  docs/camera/camera-calibration.md
  docs/camera/camera_calibration.md
  docs/camera/camera_calibration_flight_camera.md
  docs/camera/camera_calibration_flight_camera_CCFL.md
  docs/camera/camera_calibration_flight_camera_calibration.md
  docs/camera/camera_calibration_initial_setup.md
  docs/camera/camera_calibration_tee_camera.md
  docs/camera/camera_calibration_tee_camera_focal.md
  docs/camera/camera_calibration_undistortion_process.md
  docs/camera/cameras.md
Owners: @jeshernandez, @connorgallopo

Hardware Docs + update readme
  README.md
  docs/assets/images/hardware/0805.png
  docs/assets/images/hardware/assembly-service.png
  docs/assets/images/hardware/gerber-files.png
  docs/assets/images/hardware/important-parameters.png
  docs/assets/images/hardware/shopping-cart.png
  docs/assets/images/hardware/surface-finish.png
  docs/hardware/3d-printing.md
  docs/hardware/pcb-assembly.md
Owners: @jamespilgrim, @jeshernandez, @connorgallopo, @markjonharman

errata update
  docs/errata.md
Owners: @jeshernandez, @connorgallopo

HW docs changes from Mark
  docs/assets/images/hardware/upload-gerber-files-step-2.png
  docs/assets/images/hardware/upload-gerber-files.png
  docs/hardware/pcb-assembly.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

Quickstart + updates around OS version support
  docs/quickstart.md
  docs/software/pi-setup.md
  docs/software/pitrac-install.md
Owners: @jeshernandez, @connorgallopo

Final Mark Changes
  docs/hardware/pcb-assembly.md
Owners: @markjonharman

change to active cooler on parts list
  docs/hardware/parts-list.md
Owners: @markjonharman

Show camera preview
  Software/web-server/calibration_manager.py
  Software/web-server/static/js/calibration.js
  Software/web-server/templates/calibration.html
Owners: @connorgallopo

extract boot config
  packaging/build.sh
  packaging/scripts/configure-cameras.sh
  packaging/src/lib/boot-config.sh
  packaging/templates/postinst.sh
Owners: @connorgallopo

no early return if no cams detected.
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

fix detection result issue
  Software/web-server/camera_detector.py
Owners: @connorgallopo

more checks / fixes
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

Smarter dtparam detection
  packaging/src/lib/boot-config.sh
Owners: @connorgallopo

Revise parts list for Version 2 enclosure hardware
  docs/hardware/parts-list.md
Owners: @markjonharman

first pass for trixie
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

repo location fixes
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

.github/CODEOWNERS:

# Default owner of the ship. Not needed, but just adding. 
* @jamespilgrim
/.github/workflows/CODEOWNERS @jamespilgrim

# GitHub Workflows
/.github/workflows/ @jamespilgrim @connorgallopo @jeshernandez

# Top Level Software Ownership
/Software/ @jamespilgrim

# Python Web Server
/Software/web-server/ @connorgallopo 

# Yolo Model + Tooling
/Software/GroundTruthAnnotator/ @connorgallopo
/Software/LMSourceCode/ImageProcessing/ @jamespilgrim @connorgallopo

# Documentation files
/docs/ @jeshernandez @connorgallopo
/docs/hardware/ @markjonharman

# Installation Scripts
/Dev/ @jeshernandez @connorgallopo

# Hardware
/Hardware/ @markjonharman

# Packaging
/packaging/ @connorgallopo
