Repository PiTracLM/PiTrac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

.github/CODEOWNERS:

# Default owner of the ship. Not needed, but just adding. 
* @jamespilgrim
/.github/workflows/CODEOWNERS @jamespilgrim

# GitHub Workflows
/.github/workflows/ @jamespilgrim @connorgallopo @jeshernandez

# Top Level Software Ownership
/Software/ @jamespilgrim

# Python Web Server
/Software/web-server/ @connorgallopo 

# Yolo Model + Tooling
/Software/GroundTruthAnnotator/ @connorgallopo
/Software/LMSourceCode/ImageProcessing/ @jamespilgrim @connorgallopo

# Documentation files
/docs/ @jeshernandez @connorgallopo
/docs/hardware/ @markjonharman

# Installation Scripts
/Dev/ @jeshernandez @connorgallopo

# Hardware
/Hardware/ @markjonharman

# Packaging
/packaging/ @connorgallopo

bug fixes
  Software/LMSourceCode/ImageProcessing/gs_http_client.cpp
  Software/LMSourceCode/ImageProcessing/gs_http_client.h
  Software/LMSourceCode/ImageProcessing/libcamera_interface.cpp
Owners: @jamespilgrim, @connorgallopo

fix missing def
  Software/LMSourceCode/ImageProcessing/libcamera_interface.cpp
Owners: @jamespilgrim, @connorgallopo

use single ptr/ weak ptr to get around single process restriction
  Software/LMSourceCode/ImageProcessing/core/rpicam_app.cpp
  Software/LMSourceCode/ImageProcessing/core/rpicam_app.hpp
Owners: @jamespilgrim, @connorgallopo

update libcamera timeout
  packaging/src/lib/pitrac-common-functions.sh
  packaging/templates/postinst.sh
Owners: @connorgallopo

Large state management changes + thread safety
  Software/LMSourceCode/ImageProcessing/cam2_thread.cpp
  Software/LMSourceCode/ImageProcessing/cam2_thread.h
  Software/LMSourceCode/ImageProcessing/core/rpicam_app.cpp
  Software/LMSourceCode/ImageProcessing/core/rpicam_app.hpp
  Software/LMSourceCode/ImageProcessing/gs_fsm.cpp
  Software/LMSourceCode/ImageProcessing/libcamera_jpeg.cpp
  packaging/src/lib/pitrac-common-functions.sh
  packaging/templates/postinst.sh
Owners: @jamespilgrim, @connorgallopo

CAP_SYS Fix
  Software/LMSourceCode/ImageProcessing/ball_watcher.cpp
  packaging/build.sh
  packaging/templates/pitrac-web.service.template
Owners: @jamespilgrim, @connorgallopo

revert to previous strobe timing
  Software/LMSourceCode/ImageProcessing/pulse_strobe.cpp
Owners: @jamespilgrim, @connorgallopo

Style overhaul
  Software/web-server/static/css/common.css
  Software/web-server/static/css/dashboard.css
  Software/web-server/static/js/dashboard.js
  Software/web-server/templates/base.html
  Software/web-server/templates/dashboard.html
Owners: @connorgallopo

Move images to post-results msg
  Software/LMSourceCode/ImageProcessing/gs_http_client.cpp
  Software/LMSourceCode/ImageProcessing/gs_http_client.h
  Software/LMSourceCode/ImageProcessing/gs_ui_system.cpp
  Software/web-server/models.py
  Software/web-server/parsers.py
  Software/web-server/server.py
  Software/web-server/static/js/dashboard.js
  Software/web-server/templates/dashboard.html
Owners: @jamespilgrim, @connorgallopo

send only the right image
  Software/LMSourceCode/ImageProcessing/gs_fsm.cpp
  Software/LMSourceCode/ImageProcessing/gs_ui_system.cpp
Owners: @jamespilgrim, @connorgallopo

More tweaks
  Software/web-server/static/js/dashboard.js
Owners: @connorgallopo

path fix
  Software/web-server/constants.py
  Software/web-server/tests/conftest.py
  Software/web-server/tests/test_shot_simulation.py
Owners: @connorgallopo

final tweaks
  Software/web-server/configurations.json
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

rip out ONNX runtime and opencv DNN fallback, add ML spin predictor
  Software/LMSourceCode/ImageProcessing/.pitrac/config/user_settings.json
  Software/LMSourceCode/ImageProcessing/ImageAnalysis/infrastructure/ml_image_analyzer.hpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/golf_ball.h
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/LMSourceCode/ImageProcessing/gs_camera.cpp
  Software/LMSourceCode/ImageProcessing/libcamera_interface.cpp
  Software/LMSourceCode/ImageProcessing/meson.build
  Software/LMSourceCode/ImageProcessing/ncnn_detector.cpp
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.cpp
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.hpp
  Software/LMSourceCode/ml_models/.gitignore
  Software/LMSourceCode/ml_models/pitrac-ball-detection-09-25-25/weights/best.onnx
  Software/LMSourceCode/ml_models/pitrac-ball-detection-09-25-25/weights/best.pt
  Software/web-server/calibration_manager.py
  Software/web-server/config_manager.py
  Software/web-server/configurations.json
  Software/web-server/pitrac_manager.py
  Software/web-server/static/css/config.css
  Software/web-server/static/js/config.js
  Software/web-server/testing_tools_manager.py
  Software/web-server/tests/test_testing_tools_manager.py
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
  packaging/templates/postinst.sh
Owners: @jamespilgrim, @connorgallopo

add NCNN spin prediction model and weights
  Software/LMSourceCode/ImageProcessing/spin_predictor.cpp
  Software/LMSourceCode/ImageProcessing/spin_predictor.hpp
  Software/LMSourceCode/ml_models/spin-predictor/best.ncnn.bin
  Software/LMSourceCode/ml_models/spin-predictor/best.ncnn.param
  Software/web-server/config_manager.py
  Software/web-server/configurations.json
  Software/web-server/static/js/config.js
Owners: @jamespilgrim, @connorgallopo

fix stray brace and truncated log statement
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/gs_camera.cpp
Owners: @jamespilgrim, @connorgallopo

restore strobed image saving that was dropped in single-process merge
  Software/LMSourceCode/ImageProcessing/gs_fsm.cpp
Owners: @jamespilgrim, @connorgallopo

add spin detection method toggle (ml vs legacy)
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/web-server/configurations.json
Owners: @jamespilgrim, @connorgallopo

Updated readme for the web-page
  docs/build-guide.md
  docs/hardware/3d-printing.md
  docs/hardware/Enclosure_Version3_assembly.md
  docs/hardware/Enclosure_Version3_printing.md
  docs/hardware/V3 Enclosure.md
  docs/hardware/parts-list.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

Updated readme image links
  docs/hardware/Enclosure_Version3_assembly.md
Owners: @markjonharman

repaired link for Jekyll error
  docs/hardware/parts-list.md
Owners: @markjonharman

Update UI - WIP
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/web-server/server.py
  Software/web-server/update_manager.py
  packaging/build.sh
Owners: @jamespilgrim, @connorgallopo

Add update page and swap to Lucide icons
  Software/web-server/server.py
  Software/web-server/static/css/common.css
  Software/web-server/static/css/update.css
  Software/web-server/static/js/common.js
  Software/web-server/static/js/logs.js
  Software/web-server/static/js/lucide.min.js
  Software/web-server/static/js/update.js
  Software/web-server/templates/base.html
  Software/web-server/templates/logs.html
  Software/web-server/templates/testing.html
  Software/web-server/templates/update.html
Owners: @connorgallopo

fix branches
  Software/web-server/update_manager.py
Owners: @connorgallopo

add daisyUI and pitrac theme system
  Software/web-server/static/css/common.css
  Software/web-server/static/css/pitrac.css
  Software/web-server/templates/_macros.html
  Software/web-server/templates/base.html
Owners: @connorgallopo

migrate page templates to daisyUI
  Software/web-server/templates/calibration.html
  Software/web-server/templates/config.html
  Software/web-server/templates/dashboard.html
  Software/web-server/templates/logs.html
  Software/web-server/templates/testing.html
  Software/web-server/templates/update.html
Owners: @connorgallopo

slim down page CSS for daisyUI
  Software/web-server/static/css/calibration.css
  Software/web-server/static/css/config.css
  Software/web-server/static/css/dashboard.css
  Software/web-server/static/css/logs.css
  Software/web-server/static/css/testing.css
  Software/web-server/static/css/update.css
Owners: @connorgallopo

simplify common.js controls and strobe modal
  Software/web-server/static/js/common.js
Owners: @connorgallopo

harden config manager -- locking, caching, proper status codes
  Software/web-server/config_manager.py
  Software/web-server/server.py
  Software/web-server/tests/test_config_api.py
Owners: @connorgallopo

fix config dirty tracking, diff, and restart warnings
  Software/web-server/static/js/config.js
Owners: @connorgallopo

bump golf ball dimple visibility
  Software/web-server/static/golf_ball.svg
Owners: @connorgallopo

Remove clahe + clean up modal for diff
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/web-server/static/js/config.js
  Software/web-server/templates/config.html
Owners: @jamespilgrim, @connorgallopo

fix select on calibration
  Software/web-server/static/css/calibration.css
Owners: @connorgallopo

add charuco detector with quality assessment and coverage tracking
  Software/web-server/charuco_detector.py
Owners: @connorgallopo

add standalone charuco board generator for printing
  Software/CalibrateCameraDistortions/generate_charuco_board.py
Owners: @jamespilgrim

add charuco board endpoint, live feed and undistort preview websockets
  Software/web-server/server.py
Owners: @connorgallopo

add distortion calibration with shared frame buffer and coverage gating
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

add distortion calibration UI with live feed, coverage grid, and undistort preview
  Software/web-server/static/js/distortion_calibration.js
Owners: @connorgallopo

add charuco detector tests
  Software/web-server/tests/test_charuco_detector.py
Owners: @connorgallopo

use shared frame buffer before rpicam-still to avoid libcamera contention
  Software/web-server/calibration_manager.py
Owners: @connorgallopo
