Repository PiTracLM/PiTrac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

.github/CODEOWNERS:

# Default owner of the ship. Not needed, but just adding. 
* @jamespilgrim
/.github/workflows/CODEOWNERS @jamespilgrim

# GitHub Workflows
/.github/workflows/ @jamespilgrim @connorgallopo @jeshernandez

# Top Level Software Ownership
/Software/ @jamespilgrim

# Java Ownership files 
/Software/LMSourceCode/ImageProcessing/golfsim_tomee_webapp/ @jeshernandez 

# Yolo Model + Tooling
/Software/GroundTruthAnnotator/ @connorgallopo
/Software/LMSourceCode/ImageProcessing/ @jamespilgrim @connorgallopo

# Documentation files
/docs/ @jeshernandez @connorgallopo
/docs/hardware/ @markjonharman

# Installation Scripts
/Dev/ @jeshernandez @connorgallopo

# Hardware
/Hardware/ @markjonharman

# Packaging
/packaging/ @connorgallopo

Fix missing configuration problems
  packaging/build.sh
  packaging/templates/postinst.sh
Owners: @connorgallopo

Fix deps as well as mq +camera configuration handling
  packaging/build-apt-package.sh
  packaging/build.sh
  packaging/src/lib/hardware.sh
  packaging/src/lib/process.sh
  packaging/templates/postinst.sh
Owners: @connorgallopo

Restart services
  packaging/build.sh
  packaging/src/activemq.sh
  packaging/src/lib/services.sh
Owners: @connorgallopo

Add global logging commands
  packaging/bashly.yml
  packaging/src/activemq.sh
  packaging/src/bashly.yml
  packaging/src/boot/config.sh
  packaging/src/calibrate/auto.sh
  packaging/src/calibrate/camera.sh
  packaging/src/calibrate/wizard.sh
  packaging/src/camera/config/timeout.sh
  packaging/src/camera/list.sh
  packaging/src/camera/test.sh
  packaging/src/camera/trigger.sh
  packaging/src/config/backup.sh
  packaging/src/config/diff.sh
  packaging/src/config/edit.sh
  packaging/src/config/get.sh
  packaging/src/config/migrate.sh
  packaging/src/config/preset.sh
  packaging/src/config/reset.sh
  packaging/src/config/restore.sh
  packaging/src/config/set.sh
  packaging/src/config/show.sh
  packaging/src/config/source.sh
  packaging/src/config/validate.sh
  packaging/src/lib/global_flags.sh
  packaging/src/logs.sh
  packaging/src/run.sh
  packaging/src/service.sh
  packaging/src/setup.sh
  packaging/src/status.sh
  packaging/src/stop.sh
  packaging/src/test/automated.sh
  packaging/src/test/camera.sh
  packaging/src/test/gspro.sh
  packaging/src/test/hardware.sh
  packaging/src/test/pulse.sh
  packaging/src/test/quick.sh
  packaging/src/test/spin.sh
  packaging/src/tomee.sh
  packaging/src/version.sh
Owners: @connorgallopo

Update commands that did not support log level
  packaging/src/calibrate/auto.sh
  packaging/src/test/automated.sh
  packaging/src/test/camera.sh
  packaging/src/test/gspro.sh
  packaging/src/test/pulse.sh
  packaging/src/test/quick.sh
  packaging/src/test/spin.sh
Owners: @connorgallopo

do not use any hardcoded home paths. Adopt proper service templating
  Dev/scripts/common.sh
  Dev/scripts/defaults/network-services.yaml
  Dev/scripts/defaults/pitrac-environment.yaml
  Software/LMSourceCode/ImageProcessing/post_processing_stages/object_classify_tf_stage.cpp
  docs/development/services.md
  packaging/Dockerfile.tomee
  packaging/build-apt-package.sh
  packaging/build.sh
  packaging/src/lib/environment.sh
  packaging/src/lib/service-install.sh
  packaging/templates/pitrac.service
  packaging/templates/pitrac.service.template
  packaging/templates/postinst.sh
Owners: @jeshernandez, @connorgallopo, @jamespilgrim

fix service errors
  packaging/src/lib/service-install.sh
  packaging/templates/pitrac.service.template
Owners: @connorgallopo

service should respect config
  packaging/templates/pitrac.service.template
Owners: @connorgallopo

remove profile stuff and replace with one heavily annotated file
  packaging/bashly.yml
  packaging/src/bashly.yml
  packaging/templates/pitrac.yaml
Owners: @connorgallopo

remove my paths - oops
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
Owners: @jamespilgrim, @connorgallopo

replace file
  packaging/src/bashly.yml
Owners: @connorgallopo

remove breaking code
  packaging/src/lib/service-install.sh
Owners: @connorgallopo
