Repository PiTracLM/PiTrac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

add libncnn-dev to APT dependencies, improve test environment script
  packaging/src/lib/pitrac-common-functions.sh
  scripts/pitrac-testenv.sh
Owners: @connorgallopo, @jamespilgrim

Add YOLO26n NCNN model for ball detection
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.bin
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.param
Owners: @jamespilgrim

use matched test suite pairs for sample image test, fix automated testing paths
  Software/web-server/testing_tools_manager.py
Owners: @connorgallopo

install ncnn model files alongside onnx models
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

link OpenMP for ncnn static library
  Software/LMSourceCode/ImageProcessing/meson.build
Owners: @jamespilgrim, @connorgallopo

fix test image paths for sample and uploaded image tests
  Software/web-server/testing_tools_manager.py
Owners: @connorgallopo

route GetBall() through backend dispatcher instead of hardcoding ONNX
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
Owners: @jamespilgrim, @connorgallopo

fix ncnn model: re-export at 640x640 (was incorrectly exported at 1472)
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.bin
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.param
Owners: @jamespilgrim

update model defaults to 640x640 input, raise confidence to 0.65
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/web-server/configurations.json
Owners: @jamespilgrim, @connorgallopo

add ncnn detection timing to performance summary
  Software/web-server/testing_tools_manager.py
Owners: @connorgallopo

deploy yolo26n model trained at 640x640 (mAP50=0.989)
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.bin
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.param
  Software/web-server/configurations.json
Owners: @jamespilgrim, @connorgallopo

re-export ncnn model at 640x640 for ~10x faster inference
  Software/LMSourceCode/ImageProcessing/ncnn_detector.hpp
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.bin
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.param
Owners: @jamespilgrim, @connorgallopo

fix: disable OpenCV threads inside OMP region to prevent deadlock
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
Owners: @jamespilgrim, @connorgallopo

deploy yolo26n 736x544 model (mAP50=0.990, trained on 1879 images)
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.bin
  Software/LMSourceCode/ml_models/yolo26-ball-detector/best.ncnn.param
Owners: @jamespilgrim

fix annotation: draw strobed detections on strobed image, not teed image
  Software/LMSourceCode/ImageProcessing/lm_main.cpp
Owners: @jamespilgrim, @connorgallopo

split kModelInputSize into width/height for rectangular inference, enable fp16 arithmetic
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/LMSourceCode/ImageProcessing/ncnn_detector.cpp
  Software/web-server/configurations.json
Owners: @jamespilgrim, @connorgallopo

optimize spin: pow->multiply, OpenMP parallel candidate generation
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
Owners: @jamespilgrim, @connorgallopo

fix: make projectionOp instance-based for OMP thread safety
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
Owners: @jamespilgrim, @connorgallopo

fix: mutable projectedImg_ for const operator()
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
Owners: @jamespilgrim, @connorgallopo

apply ARM optimization flags (were dead code), cleanup debug logging
  Software/LMSourceCode/ImageProcessing/meson.build
Owners: @jamespilgrim, @connorgallopo

fix: log OMP info via GS_LOG instead of cout
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
Owners: @jamespilgrim, @connorgallopo

remove debug mat alloc, pointer access in compare, move semantics
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
Owners: @jamespilgrim, @connorgallopo

compute gabor convolutions once, re-threshold only during calibration
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
Owners: @jamespilgrim, @connorgallopo

float32 projection, LTO, 90x90 coarse downsample, eliminate second sqrt
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/meson.build
Owners: @jamespilgrim, @connorgallopo

fix: serial pixel loops inside OMP so threads don't fight over forEach
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
Owners: @jamespilgrim, @connorgallopo

debug: log OMP thread count, force num_threads(4)
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
Owners: @jamespilgrim, @connorgallopo

v2 board: moved mosfet board to the left for ethernet cable clearance
  3D Printed Parts/Enclosure Version 3/Part/Print/Legacy/ConnectorBoardv2-Mod_Carrier.FCStd
  3D Printed Parts/Enclosure Version 3/Part/Print/Legacy/ConnectorBoardv2-Mod_Carrier.step
  3D Printed Parts/Enclosure Version 3/Part/Print/Legacy/ConnectorBoardv2-Mod_Carrier.stl
Owners: @jamespilgrim

Updated docs for just-the-docs compatibility
  docs/assets/images/V3_Enclosure/PiTrac_V3-Enclosure_crop.png
  docs/hardware/V3 Enclosure.md
  docs/hardware/V3 Enclosure/3D-printing.md
  docs/hardware/V3 Enclosure/Assembly.md
  docs/hardware/hardware.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

fix validation error
  Software/web-server/static/js/config.js
Owners: @connorgallopo

replace old onnx call with detect balls
  Software/LMSourceCode/ImageProcessing/libcamera_interface.cpp
Owners: @jamespilgrim, @connorgallopo

configurable spin res + skipped other processing
  Software/LMSourceCode/ImageProcessing/.pitrac/config/generated_golf_sim_config.json
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/LMSourceCode/ImageProcessing/gs_camera.cpp
  Software/web-server/configurations.json
Owners: @jamespilgrim, @connorgallopo

fix for flip
  Software/LMSourceCode/ImageProcessing/libcamera_interface.cpp
Owners: @jamespilgrim, @connorgallopo

revert filter bypass for ML-detected balls
  Software/LMSourceCode/ImageProcessing/gs_camera.cpp
Owners: @jamespilgrim, @connorgallopo

small tweak to use sensor space vs 1080*
  Software/LMSourceCode/ImageProcessing/libcamera_interface.cpp
Owners: @jamespilgrim, @connorgallopo

reject edge-clipped detections, extract BboxToCircle helper, fix DNN radius bug
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
Owners: @jamespilgrim, @connorgallopo

fix test_run_tool_with_sudo to create config file before open()
  Software/web-server/tests/test_testing_tools_manager.py
Owners: @connorgallopo

remove spi1-2cs overlay from auto-configure to avoid NVMe conflicts
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

add calibration gates
  Software/web-server/server.py
  Software/web-server/static/js/common.js
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/tests/test_api_endpoints_pitrac.py
  Software/web-server/tests/test_calibration_api.py
  Software/web-server/tests/test_strobe_calibration_manager.py
  Software/web-server/tests/test_testing_tools_api.py
Owners: @connorgallopo

move to modal
  Software/web-server/static/js/common.js
Owners: @connorgallopo

ensure that the gui gate shows for backend gated things
  Software/web-server/server.py
  Software/web-server/static/js/calibration.js
  Software/web-server/static/js/common.js
  Software/web-server/static/js/testing.js
Owners: @connorgallopo

.github/CODEOWNERS:

# Default owner of the ship. Not needed, but just adding. 
* @jamespilgrim
/.github/workflows/CODEOWNERS @jamespilgrim

# GitHub Workflows
/.github/workflows/ @jamespilgrim @connorgallopo @jeshernandez

# Top Level Software Ownership
/Software/ @jamespilgrim

# Python Web Server
/Software/web-server/ @connorgallopo 

# Yolo Model + Tooling
/Software/GroundTruthAnnotator/ @connorgallopo
/Software/LMSourceCode/ImageProcessing/ @jamespilgrim @connorgallopo

# Documentation files
/docs/ @jeshernandez @connorgallopo
/docs/hardware/ @markjonharman

# Installation Scripts
/Dev/ @jeshernandez @connorgallopo

# Hardware
/Hardware/ @markjonharman

# Packaging
/packaging/ @connorgallopo
