Repository PiTracLM/PiTrac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

Fix meson force rebuild and remove GPG key prompt
  packaging/build-apt-package.sh
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Fix force rebuild to accept 'force' value not just 'true'
  packaging/build.sh
Owners: @connorgallopo

bump pillow
  Software/web-server/requirements.txt
Owners: @connorgallopo

bump pillow - major
  Software/web-server/requirements.txt
Owners: @connorgallopo

bump py msgpack
  Software/web-server/requirements.txt
Owners: @connorgallopo

bump the rest of py deps
  Software/web-server/requirements.txt
Owners: @connorgallopo

change install flags for deps
  packaging/scripts/build-webserver.sh
  packaging/src/lib/pitrac-common-functions.sh
  packaging/templates/postinst.sh
Owners: @connorgallopo

First pass docs update
  docs/software/pi-setup.md
  docs/software/pitrac-install.md
Owners: @jeshernandez, @connorgallopo

SEO improvements
  docs/_config.yml
  docs/camera/auto-calibration.md
  docs/camera/camera-calibration.md
  docs/camera/cameras.md
  docs/contributors.md
  docs/development/index.md
  docs/errata.md
  docs/getting-started.md
  docs/glossary.md
  docs/hardware/3d-printing.md
  docs/hardware/hardware.md
  docs/hardware/pcb-assembly.md
  docs/index.md
  docs/quickstart.md
  docs/roadmap.md
  docs/simulator-integration.md
  docs/software/pitrac-install.md
  docs/software/software.md
  docs/software/using-pitrac.md
  docs/troubleshooting.md
  docs/what-is-pitrac.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

Better layout to be as intuitive as possible
  docs/build-guide.md
  docs/camera/cameras.md
  docs/contributors.md
  docs/errata.md
  docs/hardware/hardware.md
  docs/index.md
  docs/quickstart.md
  docs/roadmap.md
  docs/simulator-integration.md
  docs/software/install/build-from-source.md
  docs/software/install/first-use.md
  docs/software/install/managing.md
  docs/software/install/troubleshooting.md
  docs/software/pi-setup.md
  docs/software/pi-setup/advanced.md
  docs/software/pi-setup/first-login.md
  docs/software/pi-setup/install-os.md
  docs/software/pitrac-install.md
  docs/software/software.md
  docs/troubleshooting.md
  docs/what-is-pitrac.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

bump msgpack to 7
  packaging/build.sh
Owners: @connorgallopo

only use apt repo packages, do not look at local artifacts anymore
  packaging/build.sh
Owners: @connorgallopo

add trixie dep
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Minor Fixes: Fixed service log dropdown coloring
  Software/web-server/static/css/logs.css
Owners: @connorgallopo

update deps
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Fix opencv check to 4.11, use onnxruntime 1.17.3 for trixie
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Show camera preview
  Software/web-server/calibration_manager.py
  Software/web-server/static/js/calibration.js
  Software/web-server/templates/calibration.html
Owners: @connorgallopo

Implement live preview!
  Software/web-server/calibration_manager.py
  Software/web-server/camera_stream_manager.py
  Software/web-server/requirements.txt
  Software/web-server/server.py
  Software/web-server/static/js/calibration.js
  Software/web-server/templates/calibration.html
Owners: @connorgallopo

fix kwarg issue
  Software/web-server/tests/test_calibration_manager.py
Owners: @connorgallopo

fix dep issue in ci so all red things can be green
  .github/workflows/web-server-tests.yml
Owners: @jamespilgrim, @connorgallopo, @jeshernandez

Make red things green
  Software/web-server/camera_stream_manager.py
  Software/web-server/tests/__init__.py
  Software/web-server/tests/conftest.py
  Software/web-server/tests/test_config_api.py
  Software/web-server/tests/utils/mock_picamera.py
Owners: @connorgallopo

Added option to join OpenGolfSim, Camera Saturation changes
  .gitignore
  PiTrac/Software/web-server/templates/dashboard.html
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/LMSourceCode/ImageProcessing/gs_config.cpp
  Software/LMSourceCode/ImageProcessing/gs_opengolfsim_interface.cpp
  Software/LMSourceCode/ImageProcessing/gs_opengolfsim_interface.h
  Software/LMSourceCode/ImageProcessing/gs_opengolfsim_results.cpp
  Software/LMSourceCode/ImageProcessing/gs_opengolfsim_results.h
  Software/LMSourceCode/ImageProcessing/gs_sim_interface.cpp
  Software/LMSourceCode/ImageProcessing/gs_sim_interface.h
  Software/LMSourceCode/ImageProcessing/gs_sim_socket_interface.cpp
  Software/LMSourceCode/ImageProcessing/gs_sim_socket_interface.h
  Software/LMSourceCode/ImageProcessing/libcamera_interface.cpp
  Software/LMSourceCode/ImageProcessing/libcamera_interface.h
  Software/LMSourceCode/ImageProcessing/meson.build
  Software/web-server/configurations.json
  Software/web-server/static/css/dashboard.css
  packaging/src/boot/config.sh
  packaging/src/calibrate/auto.sh
  packaging/src/calibrate/camera.sh
  packaging/src/calibrate/wizard.sh
  packaging/src/run.sh
  packaging/src/setup.sh
  packaging/src/status.sh
  packaging/src/stop.sh
Owners: @jamespilgrim, @connorgallopo

Add robust array handling from front end to backend
  Software/web-server/config_manager.py
  Software/web-server/static/js/config.js
  Software/web-server/tests/test_config_manager.py
Owners: @connorgallopo

Improvements HLA accuracy. Also fixed bug in HLA and VLA offset processing. Also made a few changes to make it easier to compile and test in Visul Studio on Windows.
  Software/LMSourceCode/ImageProcessing/.pitrac/config/calibration_data.json
  Software/LMSourceCode/ImageProcessing/.pitrac/config/generated_golf_sim_config.json
  Software/LMSourceCode/ImageProcessing/.pitrac/config/user_settings.json
  Software/LMSourceCode/ImageProcessing/ImageProcessing.vcxproj.BACKUP
  Software/LMSourceCode/ImageProcessing/ImageProcessing.vcxproj.filters
  Software/LMSourceCode/ImageProcessing/ImageProcessing.vcxproj.user
  Software/LMSourceCode/ImageProcessing/configuration_manager.h
  Software/LMSourceCode/ImageProcessing/golf_ball.cpp
  Software/LMSourceCode/ImageProcessing/golf_ball.h
  Software/LMSourceCode/ImageProcessing/gs_fsm.cpp
  Software/LMSourceCode/ImageProcessing/gs_shot_parameters.cpp
  Software/LMSourceCode/ImageProcessing/gs_shot_parameters.h
  Software/LMSourceCode/ImageProcessing/gs_ui_system.cpp
  Software/LMSourceCode/ImageProcessing/lm_main.cpp
  Software/LMSourceCode/ImageProcessing/logging_tools.cpp
  Software/LMSourceCode/ImageProcessing/logging_tools.h
  Software/LMSourceCode/ImageProcessing/meson.build
Owners: @jamespilgrim, @connorgallopo

Added a new enumerated value for Version 3 Connector Boards and a check before start-up to ensure such boards are calibrated.
  Software/LMSourceCode/ImageProcessing/gs_config.h
  Software/LMSourceCode/ImageProcessing/lm_main.cpp
Owners: @jamespilgrim, @connorgallopo

Replace IRLED1 [Original] with IRLED2. Fixes problem supporting cheap IRLED we found right before heading to fabrication.
  Hardware/Assembly Files/IRLED2 Only PCB/IRLED2 Only Assembly/IRLED2 Only Bill of Materials.csv
  Hardware/Assembly Files/IRLED2 Only PCB/IRLED2 Only Assembly/IRLED2 Only Centroid.csv
  Hardware/Assembly Files/V3 Connector + IRLED2 PCB/IRLED2 Assembly/IRLED2 Bill of Materials.csv
  Hardware/Assembly Files/V3 Connector + IRLED2 PCB/IRLED2 Assembly/IRLED2 Centroid.csv
  Hardware/Assembly Files/V3 Connector + IRLED2 PCB/V3 Connector + IRLED2 Assembly/V3 Connector + IRLED2 Bill of Materials.csv
  Hardware/Assembly Files/V3 Connector + IRLED2 PCB/V3 Connector + IRLED2 Assembly/V3 Connector + IRLED2 Centroid.csv
  Hardware/Fabrication Files/IRLED Only Gerbers.zip
  Hardware/Fabrication Files/IRLED2 Only Gerbers.zip
  Hardware/Fabrication Files/V3 Connector + IRLED Gerbers.zip
  Hardware/Fabrication Files/V3 Connector + IRLED2 Gerbers.zip
  Hardware/KiCad Source Files/IRLED Only.kicad_pcb
  Hardware/KiCad Source Files/IRLED Only.kicad_prl
  Hardware/KiCad Source Files/IRLED.kicad_sch
  Hardware/KiCad Source Files/V3 Connector + IRLED.kicad_pcb
  Hardware/KiCad Source Files/V3 Connector + IRLED.kicad_prl
  docs/hardware/pcb-assembly.md
Owners: @markjonharman

Remove R6 from BOM and Centroid files.
  Hardware/Assembly Files/V3 Connector + IRLED2 PCB/V3 Connector + IRLED2 Assembly/V3 Connector + IRLED2 Bill of Materials.csv
  Hardware/Assembly Files/V3 Connector + IRLED2 PCB/V3 Connector + IRLED2 Assembly/V3 Connector + IRLED2 Centroid.csv
  Hardware/Assembly Files/V3 Connector Only PCB/V3 Connector Only Assembly/V3 Connector Only Bill of Materials.csv
  Hardware/Assembly Files/V3 Connector Only PCB/V3 Connector Only Assembly/V3 Connector Only Centroid.csv
  Hardware/Fabrication Files/V3 Connector + IRLED2 Gerbers.zip
  Hardware/Fabrication Files/V3 Connector Only Gerbers.zip
  Hardware/KiCad Source Files/Connectors.kicad_sch
  Hardware/KiCad Source Files/IRLED Only.kicad_pro
  Hardware/KiCad Source Files/Strobe Generation.kicad_sch
  Hardware/KiCad Source Files/V3 Connector + IRLED.kicad_pcb
  Hardware/KiCad Source Files/V3 Connector Only.kicad_pcb
  Hardware/KiCad Source Files/V3 Connector Only.kicad_prl
  docs/hardware/parts-list.md
Owners: @markjonharman

Finalized V3 Connector BOM based on testing on hardware.
  Hardware/Assembly Files/V3 Connector + IRLED2 PCB/V3 Connector + IRLED2 Assembly/V3 Connector + IRLED2 Bill of Materials.csv
  Hardware/Assembly Files/V3 Connector + IRLED2 PCB/V3 Connector + IRLED2 Assembly/V3 Connector + IRLED2 Centroid.csv
  Hardware/Assembly Files/V3 Connector Only PCB/V3 Connector Only Assembly/V3 Connector Only Bill of Materials.csv
  Hardware/Assembly Files/V3 Connector Only PCB/V3 Connector Only Assembly/V3 Connector Only Centroid.csv
  Hardware/KiCad Source Files/Connectors.kicad_sch
  Hardware/KiCad Source Files/DAC.kicad_sch
  Hardware/KiCad Source Files/Strobe Generation.kicad_sch
  Hardware/KiCad Source Files/V3 Connector + IRLED.kicad_pcb
  Hardware/KiCad Source Files/V3 Connector Only.kicad_pcb
  Hardware/KiCad Source Files/V3 Connector Only.kicad_prl
  Hardware/Schematic/V3 Connector + IRLED2 Schematic.pdf
  docs/hardware/parts-list.md
Owners: @markjonharman

Add clibrate_strobe_output.py script to web-server folder
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

Set current limits for both V3 LED and Old 100W LED
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

Update PCB Assembly documentation with connection guide for V3
  docs/assets/images/enclosure_assembly/PiTrac_V3_Connection_Guide.svg
  docs/hardware/pcb-assembly.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

Update assembly instructions to only say 1 rpi instead of 1-2
  docs/hardware/parts-list.md
Owners: @markjonharman

Change ADC and DAC to use SPI1 instead of SPI0. Change DIAG pin to SPI0 MOSI pin (GPIO 10)
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

Cleanup calibrate_strobe_output.py script
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

Remove all legacy docker code + references:
  packaging/Dockerfile.activemq
  packaging/Dockerfile.bashly
  packaging/Dockerfile.lgpio
  packaging/Dockerfile.msgpack
  packaging/Dockerfile.opencv
  packaging/Dockerfile.pitrac
  packaging/REFACTORING_ANALYSIS.md
  packaging/SECURITY_AUDIT_REPORT.md
  packaging/build-apt-package.sh
  packaging/build.sh
  packaging/check-pi-repos.sh
  packaging/deps-artifacts/activemq-cpp-3.9.5-arm64.metadata
  packaging/deps-artifacts/lgpio-0.2.2-arm64.metadata
  packaging/deps-artifacts/libactivemq-cpp-dev_3.9.5-1_arm64.deb
  packaging/deps-artifacts/libactivemq-cpp_3.9.5-1_arm64.deb
  packaging/deps-artifacts/liblgpio1_0.2.2-1_arm64.deb
  packaging/deps-artifacts/libmsgpack-cxx-dev_6.1.1-1_all.deb
  packaging/deps-artifacts/libonnxruntime1.17.3_1.17.3-xnnpack-verified_arm64.deb
  packaging/deps-artifacts/libopencv-dev_4.11.0-1_arm64.deb
  packaging/deps-artifacts/libopencv4.11_4.11.0-1_arm64.deb
  packaging/deps-artifacts/msgpack-cxx-6.1.1-arm64.metadata
  packaging/deps-artifacts/opencv-4.11.0-arm64.metadata
  packaging/generate.sh
  packaging/scripts/build-activemq.sh
  packaging/scripts/build-all-deps.sh
  packaging/scripts/build-lgpio.sh
  packaging/scripts/build-msgpack.sh
  packaging/scripts/build-opencv.sh
  packaging/scripts/build-webserver.sh
  packaging/src/lib/pitrac-common-functions.sh
  packaging/uninstall-tar-deps.sh
Owners: @connorgallopo

Prevent falling back to Hough if ONNX returns no balls
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/gs_camera.cpp
  Software/LMSourceCode/ImageProcessing/libcamera_interface.cpp
Owners: @jamespilgrim, @connorgallopo

Changed connection board default to Version 3
  Software/web-server/configurations.json
Owners: @connorgallopo

change old led current to 9A
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

Add installation files for spi1 setup and Python runtime dependencies
  packaging/build.sh
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

Update wiring diagram and documentation
  docs/assets/images/enclosure_assembly/PiTrac_V3_Connection_Guide.svg
  docs/hardware/pcb-assembly.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

.github/CODEOWNERS:

# Default owner of the ship. Not needed, but just adding. 
* @jamespilgrim
/.github/workflows/CODEOWNERS @jamespilgrim

# GitHub Workflows
/.github/workflows/ @jamespilgrim @connorgallopo @jeshernandez

# Top Level Software Ownership
/Software/ @jamespilgrim

# Python Web Server
/Software/web-server/ @connorgallopo 

# Yolo Model + Tooling
/Software/GroundTruthAnnotator/ @connorgallopo
/Software/LMSourceCode/ImageProcessing/ @jamespilgrim @connorgallopo

# Documentation files
/docs/ @jeshernandez @connorgallopo
/docs/hardware/ @markjonharman

# Installation Scripts
/Dev/ @jeshernandez @connorgallopo

# Hardware
/Hardware/ @markjonharman

# Packaging
/packaging/ @connorgallopo
