Repository PiTracLM/PiTrac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

add rpicam-vid fallback, async camera io, and exclusive camera locking
  Software/web-server/server.py
Owners: @connorgallopo

lower blur threshold to 50 and fix score display rounding
  Software/web-server/charuco_detector.py
  Software/web-server/tests/test_charuco_detector.py
Owners: @connorgallopo

handle camera error json in websocket instead of swallowing silently
  Software/web-server/static/js/distortion_calibration.js
Owners: @connorgallopo

try to make blur numbers more consistant. move blur to js
  Software/web-server/charuco_detector.py
  Software/web-server/server.py
  Software/web-server/static/js/distortion_calibration.js
  Software/web-server/test_jinja_path.py
Owners: @connorgallopo

fix side by side distortion
  Software/web-server/server.py
Owners: @connorgallopo

Chuarco tweaks to push for higher accuracy
  Software/CalibrateCameraDistortions/generate_charuco_board.py
  Software/web-server/calibration_manager.py
  Software/web-server/charuco_detector.py
  Software/web-server/requirements-test.txt
  Software/web-server/server.py
  Software/web-server/static/js/distortion_calibration.js
  Software/web-server/tests/test_charuco_detector.py
Owners: @jamespilgrim, @connorgallopo

fix board generation to render at exact physical pixel dimensions
  Software/CalibrateCameraDistortions/generate_charuco_board.py
Owners: @jamespilgrim

update response structure for new version
  Software/web-server/server.py
Owners: @connorgallopo

update python deps
  Software/web-server/requirements.txt
Owners: @connorgallopo

integrate similarity rejection and quality gate into calibration loop
  Software/web-server/calibration_manager.py
Owners: @connorgallopo

add similarity rejection and bicriterial filtering (from OpenCV interactive-calibration)
  Software/web-server/charuco_detector.py
Owners: @connorgallopo

fix web-served charuco board to match standalone generator dimensions
  Software/web-server/server.py
Owners: @connorgallopo

try to improve edge acuracy
  Software/web-server/calibration_manager.py
  Software/web-server/charuco_detector.py
  Software/web-server/config_manager.py
  Software/web-server/server.py
  Software/web-server/static/js/distortion_calibration.js
  Software/web-server/tests/test_charuco_detector.py
Owners: @connorgallopo

rebase with daisy ui
  Software/web-server/server.py
  Software/web-server/static/css/calibration.css
  Software/web-server/static/js/calibration.js
  Software/web-server/static/js/distortion_calibration.js
  Software/web-server/templates/calibration.html
  Software/web-server/test_jinja_path.py
Owners: @connorgallopo

fix request issues
  Software/web-server/server.py
Owners: @connorgallopo

Refactoring pulse analysis.
  Software/LMSourceCode/ImageProcessing/gs_camera.cpp
  Software/LMSourceCode/ImageProcessing/gs_camera.h
Owners: @jamespilgrim, @connorgallopo

resolution fix
  Software/web-server/server.py
Owners: @connorgallopo

Update tests
  Software/web-server/tests/test_calibration_manager.py
  Software/web-server/tests/test_charuco_detector.py
  Software/web-server/tests/test_config_manager.py
  Software/web-server/tests/test_update_manager.py
Owners: @connorgallopo

WIP
  Software/web-server/physics/__init__.py
  Software/web-server/physics/calibrated_params.py
  Software/web-server/physics/predictor.py
  Software/web-server/physics/roll.py
  Software/web-server/physics/trajectory.py
  Software/web-server/requirements.txt
  Software/web-server/server.py
  Software/web-server/static/css/sim.css
  Software/web-server/static/js/sim.js
  Software/web-server/templates/sim.html
Owners: @connorgallopo

WIP
  Software/web-server/physics/ml_inference.py
  Software/web-server/physics/models/flight_ensemble.npz
  Software/web-server/physics/models/roll_ensemble.npz
  Software/web-server/physics/predictor.py
Owners: @connorgallopo

WIP
  Software/web-server/static/js/sim.js
Owners: @connorgallopo

WIP
  Software/web-server/static/js/sim.js
Owners: @connorgallopo

Remove Bashly CLI
  packaging/bashly.yml
  packaging/src/activemq.sh
  packaging/src/boot/config.sh
  packaging/src/calibrate/auto.sh
  packaging/src/calibrate/camera.sh
  packaging/src/calibrate/wizard.sh
  packaging/src/camera/config/timeout.sh
  packaging/src/camera/list.sh
  packaging/src/camera/test.sh
  packaging/src/camera/trigger.sh
  packaging/src/lib/activemq-service-install.sh
  packaging/src/lib/environment.sh
  packaging/src/lib/global_flags.sh
  packaging/src/lib/hardware.sh
  packaging/src/lib/logging.sh
  packaging/src/lib/pitrac-common-functions.sh
  packaging/src/lib/process.sh
  packaging/src/lib/services.sh
  packaging/src/lib/validations.sh
  packaging/src/lib/web-service-install.sh
  packaging/src/logs.sh
  packaging/src/run.sh
  packaging/src/setup.sh
  packaging/src/status.sh
  packaging/src/stop.sh
  packaging/src/version.sh
  packaging/src/web.sh
Owners: @connorgallopo

Remove HoughCircle playground to prepare for removal of lib
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/FileContentIndex/0f4873a9-ad8d-4903-96d0-0691d0065d56.vsidx
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/FileContentIndex/2d2e0f41-2e7a-4087-a6ce-355ed33eb750.vsidx
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/FileContentIndex/54b49739-d285-44af-9d08-990e8793f6d3.vsidx
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/FileContentIndex/9c71639a-b326-4d6a-8fdd-cbaa256c69cb.vsidx
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/FileContentIndex/e9ee9f9d-b145-46bc-aa79-a9599be4993e.vsidx
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/v17/.suo
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/v17/DocumentLayout.backup.json
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/v17/DocumentLayout.json
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/v17/Preview/Solution.VC.db
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/v17/Solution.VC.db
  Software/Playgrounds/HoughCirclePlayground/.vs/Playground/v17/fileList.bin
  Software/Playgrounds/HoughCirclePlayground/Images/Thumbs.db
  Software/Playgrounds/HoughCirclePlayground/Playground.cpp
  Software/Playgrounds/HoughCirclePlayground/Playground.sln
  Software/Playgrounds/HoughCirclePlayground/Playground.vcxproj
  Software/Playgrounds/HoughCirclePlayground/Playground.vcxproj.filters
  Software/Playgrounds/HoughCirclePlayground/Playground.vcxproj.user
  Software/Playgrounds/HoughCirclePlayground/Playground/x64/Debug/Playground.Build.CppClean.log
  Software/Playgrounds/HoughCirclePlayground/Playground/x64/Debug/Playground.exe.recipe
  Software/Playgrounds/HoughCirclePlayground/Playground/x64/Debug/Playground.log
  Software/Playgrounds/HoughCirclePlayground/Playground/x64/Debug/Playground.vcxproj.FileListAbsolute.txt
  Software/Playgrounds/HoughCirclePlayground/colorsys.cpp
  Software/Playgrounds/HoughCirclePlayground/colorsys.h
  Software/Playgrounds/HoughCirclePlayground/cv_utils.cpp
  Software/Playgrounds/HoughCirclePlayground/cv_utils.h
  Software/Playgrounds/HoughCirclePlayground/gs_globals.h
  Software/Playgrounds/HoughCirclePlayground/logging_tools.cpp
  Software/Playgrounds/HoughCirclePlayground/logging_tools.h
Owners: @jamespilgrim

Remove unused previous calibration scropts
  Software/CalibrateCameraDistortions/CAM1_cameraDistortion.txt
  Software/CalibrateCameraDistortions/CAM1_cameraMatrix.txt
  Software/CalibrateCameraDistortions/CAM2_cameraDistortion.txt
  Software/CalibrateCameraDistortions/CAM2_cameraMatrix.txt
  Software/CalibrateCameraDistortions/CameraCalibration.py
  Software/CalibrateCameraDistortions/CameraCalibration.pyproj
  Software/CalibrateCameraDistortions/CameraCalibration.sln
  Software/CalibrateCameraDistortions/Thumbs.db
  Software/CalibrateCameraDistortions/caliResult1.png
  Software/CalibrateCameraDistortions/caliResult2.png
  Software/CalibrateCameraDistortions/calibration.pkl
  Software/CalibrateCameraDistortions/cameraDistortion.txt
  Software/CalibrateCameraDistortions/cameraMatrix.pkl
  Software/CalibrateCameraDistortions/cameraMatrix.txt
  Software/CalibrateCameraDistortions/checkerboard.png
  Software/CalibrateCameraDistortions/checkerboard_test_image_for_undistortion.png
  Software/CalibrateCameraDistortions/dist.pkl
  Software/CalibrateCameraDistortions/distortion.txt
  Software/CalibrateCameraDistortions/generate_charuco_board.py
  Software/CalibrateCameraDistortions/get_tuning_file.sh
  Software/CalibrateCameraDistortions/images/ProblemPix/Thumbs.db
  Software/CalibrateCameraDistortions/images/ProblemPix/gs_calibation_1.png
  Software/CalibrateCameraDistortions/images/ProblemPix/gs_calibation_2.png
  Software/CalibrateCameraDistortions/images/ProblemPix/gs_calibation_3.png
  Software/CalibrateCameraDistortions/images/ProblemPix/gs_calibation_4.png
  Software/CalibrateCameraDistortions/images/ProblemPix/gs_calibation_5.png
  Software/CalibrateCameraDistortions/images/Thumbs.db
  Software/CalibrateCameraDistortions/images/cam1/Thumbs.db
  Software/CalibrateCameraDistortions/images/cam2/Thumbs.db
  Software/CalibrateCameraDistortions/take_calibration_shots.sh
Owners: @jamespilgrim

Update docs links
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/hardware_issue.yml
  README.md
Owners: @jamespilgrim

.github/CODEOWNERS:

# Default owner of the ship. Not needed, but just adding. 
* @jamespilgrim
/.github/workflows/CODEOWNERS @jamespilgrim

# GitHub Workflows
/.github/workflows/ @jamespilgrim @connorgallopo @jeshernandez

# Top Level Software Ownership
/Software/ @jamespilgrim

# Python Web Server
/Software/web-server/ @connorgallopo 

# Yolo Model + Tooling
/Software/GroundTruthAnnotator/ @connorgallopo
/Software/LMSourceCode/ImageProcessing/ @jamespilgrim @connorgallopo

# Documentation files
/docs/ @jeshernandez @connorgallopo
/docs/hardware/ @markjonharman

# Installation Scripts
/Dev/ @jeshernandez @connorgallopo

# Hardware
/Hardware/ @markjonharman

# Packaging
/packaging/ @connorgallopo
