Repository PiTracLM/PiTrac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

.github/CODEOWNERS:

# Default owner of the ship. Not needed, but just adding. 
* @jamespilgrim
/.github/workflows/CODEOWNERS @jamespilgrim

# GitHub Workflows
/.github/workflows/ @jamespilgrim @connorgallopo @jeshernandez

# Top Level Software Ownership
/Software/ @jamespilgrim

# Python Web Server
/Software/web-server/ @connorgallopo 

# Yolo Model + Tooling
/Software/GroundTruthAnnotator/ @connorgallopo
/Software/LMSourceCode/ImageProcessing/ @jamespilgrim @connorgallopo

# Documentation files
/docs/ @jeshernandez @connorgallopo
/docs/hardware/ @markjonharman

# Installation Scripts
/Dev/ @jeshernandez @connorgallopo

# Hardware
/Hardware/ @markjonharman

# Packaging
/packaging/ @connorgallopo

Fix YAML formatting
  .github/workflows/web-server-tests.yml
Owners: @jamespilgrim, @connorgallopo, @jeshernandez

Run YAML lint on PR
  .github/workflows/yaml_lint.yml
Owners: @jamespilgrim, @connorgallopo, @jeshernandez

ZeroMQ
  Software/LMSourceCode/ImageProcessing/gs_ipc_system.cpp
  Software/LMSourceCode/ImageProcessing/gs_message_consumer.cpp
  Software/LMSourceCode/ImageProcessing/gs_message_consumer.h
  Software/LMSourceCode/ImageProcessing/gs_message_producer.cpp
  Software/LMSourceCode/ImageProcessing/gs_message_producer.h
  Software/LMSourceCode/ImageProcessing/meson.build
  Software/LMSourceCode/ImageProcessing/zeromq_ipc_system.cpp
  Software/LMSourceCode/ImageProcessing/zeromq_ipc_system.h
  Software/LMSourceCode/ImageProcessing/zeromq_publisher.cpp
  Software/LMSourceCode/ImageProcessing/zeromq_publisher.h
  Software/LMSourceCode/ImageProcessing/zeromq_subscriber.cpp
  Software/LMSourceCode/ImageProcessing/zeromq_subscriber.h
  Software/web-server/main.py
  Software/web-server/requirements.txt
  Software/web-server/server.py
  Software/web-server/tests/test_activemq_integration.py
  Software/web-server/zeromq_listener.py
  packaging/Dockerfile.activemq
  packaging/build-apt-package.sh
  packaging/build.sh
  packaging/scripts/build-activemq.sh
  packaging/scripts/build-all-deps.sh
  packaging/src/activemq.sh
  packaging/src/lib/activemq-service-install.sh
  packaging/templates/activemq-options.template
  packaging/templates/activemq.xml.template
  packaging/templates/log4j2.properties.template
Owners: @jamespilgrim, @connorgallopo

Correct package name
  packaging/build.sh
Owners: @connorgallopo

Cleanup + fixes
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
  Software/LMSourceCode/ImageProcessing/gs_ipc_message.h
  Software/LMSourceCode/ImageProcessing/gs_ipc_system.cpp
  Software/LMSourceCode/ImageProcessing/gs_ipc_system.h
  Software/LMSourceCode/ImageProcessing/gs_options.cpp
  Software/LMSourceCode/ImageProcessing/gs_options.h
  Software/LMSourceCode/ImageProcessing/meson.build
  Software/LMSourceCode/ImageProcessing/zeromq_ipc_system.h
  Software/web-server/configurations.json
  Software/web-server/constants.py
  Software/web-server/pitrac-web.service
  Software/web-server/testing_tools_manager.py
  packaging/Dockerfile.pitrac
  packaging/REFACTORING_ANALYSIS.md
  packaging/SECURITY_AUDIT_REPORT.md
  packaging/bashly.yml
  packaging/golf_sim_config_example.json
  packaging/templates/golf_sim_config.json
  packaging/templates/pitrac-web.service.template
  packaging/templates/pitrac.service.template
  packaging/templates/pitrac.yaml
  packaging/templates/postinst.sh
Owners: @jamespilgrim, @connorgallopo

fix missing call
  Software/LMSourceCode/ImageProcessing/gs_ipc_message.cpp
Owners: @jamespilgrim, @connorgallopo

More fixes
  Software/LMSourceCode/ImageProcessing/gs_ipc_message.cpp
  Software/LMSourceCode/ImageProcessing/gs_ipc_message.h
  Software/LMSourceCode/ImageProcessing/zeromq_publisher.h
  Software/LMSourceCode/ImageProcessing/zeromq_subscriber.cpp
Owners: @jamespilgrim, @connorgallopo

fix unclosed
  Software/LMSourceCode/ImageProcessing/zeromq_publisher.cpp
Owners: @jamespilgrim, @connorgallopo

Fix ui states
  Software/web-server/listeners.py
  Software/web-server/static/js/common.js
  Software/web-server/static/js/config.js
  Software/web-server/tests/test_smoke.py
Owners: @connorgallopo

More Cleanup
  Software/LMSourceCode/ImageProcessing/configuration_manager.cpp
  Software/LMSourceCode/ImageProcessing/configuration_manager.h
  Software/LMSourceCode/ImageProcessing/gs_config.cpp
  Software/LMSourceCode/ImageProcessing/meson.build
  packaging/Dockerfile.pitrac
  packaging/bashly.yml
  packaging/build-apt-package.sh
  packaging/build.sh
  packaging/src/config/backup.sh
  packaging/src/config/diff.sh
  packaging/src/config/edit.sh
  packaging/src/config/get.sh
  packaging/src/config/migrate-to-json.sh
  packaging/src/config/migrate.sh
  packaging/src/config/preset.sh
  packaging/src/config/reset.sh
  packaging/src/config/restore.sh
  packaging/src/config/set.sh
  packaging/src/config/show.sh
  packaging/src/config/source.sh
  packaging/src/config/validate.sh
  packaging/src/lib/validations.sh
  packaging/src/setup.sh
  packaging/src/status.sh
  packaging/templates/prerm.sh
Owners: @jamespilgrim, @connorgallopo

Configuration for dual/single
  Software/LMSourceCode/ImageProcessing/gs_ipc_system.cpp
  Software/LMSourceCode/ImageProcessing/gs_ipc_system.h
  Software/LMSourceCode/ImageProcessing/zeromq_publisher.cpp
  Software/LMSourceCode/ImageProcessing/zeromq_publisher.h
  Software/LMSourceCode/ImageProcessing/zeromq_subscriber.cpp
  Software/LMSourceCode/ImageProcessing/zeromq_subscriber.h
  Software/web-server/configurations.json
  Software/web-server/server.py
  Software/web-server/tests/conftest.py
  Software/web-server/tests/test_api_endpoints.py
  Software/web-server/tests/test_logs_api.py
  Software/web-server/zeromq_listener.py
Owners: @jamespilgrim, @connorgallopo

backslash issue
  Software/LMSourceCode/ImageProcessing/zeromq_subscriber.cpp
Owners: @jamespilgrim, @connorgallopo

missing brace
  Software/LMSourceCode/ImageProcessing/zeromq_subscriber.cpp
Owners: @jamespilgrim, @connorgallopo

Fix onnx and other pathing issues
  Software/web-server/config_manager.py
  Software/web-server/configurations.json
  packaging/build-apt-package.sh
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Pass base image path to CLI not JSON
  Software/web-server/configurations.json
Owners: @connorgallopo

expand all cli paths
  Software/web-server/configurations.json
  Software/web-server/pitrac_manager.py
  Software/web-server/tests/test_api_endpoints_pitrac.py
  Software/web-server/tests/test_pitrac_manager.py
Owners: @connorgallopo

ONLY use absolute path
  Software/web-server/config_manager.py
  Software/web-server/configurations.json
Owners: @connorgallopo

Add auto config to build script.
  packaging/build.sh
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

default to yolo and use etc for consistent resolution
  Software/web-server/configurations.json
  packaging/golf_sim_config_example.json
  packaging/src/lib/pitrac-common-functions.sh
  packaging/templates/golf_sim_config.json
  packaging/templates/postinst.sh
Owners: @connorgallopo

dont add values twice
  packaging/scripts/configure-cameras.sh
  packaging/templates/postinst.sh
Owners: @connorgallopo

Final Model Swap
  Software/web-server/configurations.json
Owners: @connorgallopo

First Pass
  Software/LMSourceCode/ImageProcessing/meson.build
  packaging/build.sh
  packaging/deps-artifacts/lgpio-0.2.2-arm64.metadata
  packaging/deps-artifacts/libactivemq-cpp-dev_3.9.5-1_arm64.deb
  packaging/deps-artifacts/liblgpio1_0.2.2-1_arm64.deb
  packaging/deps-artifacts/libmsgpack-cxx-dev_6.1.1-1_all.deb
  packaging/deps-artifacts/msgpack-cxx-6.1.1-arm64.metadata
  packaging/src/lib/pitrac-common-functions.sh
  packaging/uninstall-tar-deps.sh
Owners: @jamespilgrim, @connorgallopo

wip
  packaging/src/lib/pitrac-common-functions.sh
  packaging/uninstall-tar-deps.sh
Owners: @connorgallopo

wip
  packaging/uninstall-tar-deps.sh
Owners: @connorgallopo

wip
  packaging/build.sh
Owners: @connorgallopo

Updated paths
  packaging/build.sh
  packaging/deps-artifacts/liblgpio1_0.2.2-1_arm64.deb
Owners: @connorgallopo

wip
  packaging/build.sh
  packaging/deps-artifacts/libactivemq-cpp-dev_3.9.5-1_arm64.deb
Owners: @connorgallopo

add onnxruntime
  packaging/build.sh
  packaging/deps-artifacts/libonnxruntime-dev_1.23.0-1_arm64.deb
Owners: @connorgallopo

whoops
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

onnruntime implementation
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/meson.build
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.cpp
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.hpp
  Software/web-server/configurations.json
Owners: @jamespilgrim, @connorgallopo

fix comp error
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.hpp
Owners: @jamespilgrim, @connorgallopo

logging + filesystem
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.cpp
Owners: @jamespilgrim, @connorgallopo

Update onnx package and installer
  Software/LMSourceCode/ImageProcessing/meson.build
  packaging/build.sh
  packaging/deps-artifacts/libonnxruntime-dev_1.23.0-1_arm64.deb
  packaging/src/lib/pitrac-common-functions.sh
Owners: @jamespilgrim, @connorgallopo

Fix paths
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.hpp
Owners: @jamespilgrim, @connorgallopo

XNNPACK optimizations
  Software/LMSourceCode/ImageProcessing/meson.build
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.cpp
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.hpp
Owners: @jamespilgrim, @connorgallopo

Fix build warnings
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.cpp
Owners: @jamespilgrim, @connorgallopo

delay load
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
  Software/LMSourceCode/ImageProcessing/gs_config.cpp
  Software/LMSourceCode/ImageProcessing/lm_main.cpp
Owners: @jamespilgrim, @connorgallopo

Updating links to new repo. Also, this is just sort of a test to ensure that I can fork/change/PR.
  README.md
Owners: @jamespilgrim

Update all old links
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/hardware_issue.yml
  .github/workflows/cla.yml
  3D Printed Parts/Enclosure Version 2/BaseBox/README.md
  3D Printed Parts/Enclosure Version 2/CaseCover/README.md
  3D Printed Parts/Enclosure Version 2/Tower-Single-Pi-V2-Connector-Board-Variant/README.md
  3D Printed Parts/Enclosure Version 2/Tower/README.md
  README.md
  Software/LMSourceCode/ImageProcessing/Camera/MIGRATION_GUIDE.md
  Software/LMSourceCode/ImageProcessing/ImageAnalysis/README.md
  archived/Dev/scripts/build_pitrac.sh
  archived/Dev/scripts/defaults/pitrac-build.yaml
  detect_pi_cameras.sh
  docs/_config.yml
  docs/camera/auto-calibration.md
  docs/development/build-system.md
  docs/development/index.md
  docs/getting-started/contributors.md
  docs/getting-started/introduction.md
  docs/getting-started/roadmap.md
  docs/hardware/3d-printing.md
  docs/hardware/assembly-guide.md
  docs/software/startup-guide.md
  docs/thisdoc.md
  packaging/README.md
  packaging/build-apt-package.sh
  packaging/templates/config/README.md
Owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

Fix multi class issue
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.cpp
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.hpp
Owners: @jamespilgrim, @connorgallopo
