Repository PiTracLM/PiTrac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamespilgrim, @connorgallopo, @jeshernandez, @markjonharman

hardening
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Update parts list with filter settings to help find alternate components when mainline component goes out of stock.
  docs/hardware/parts-list.md
Owners: @markjonharman

replace gpiozero with direct lgpio calls
  Software/web-server/requirements.txt
  Software/web-server/strobe_calibration_manager.py
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Update PCB Assembly documentation with connection guide for V3
  docs/assets/images/enclosure_assembly/PiTrac_V3_Connection_Guide.svg
  docs/hardware/pcb-assembly.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

Update assembly instructions to only say 1 rpi instead of 1-2
  docs/hardware/parts-list.md
Owners: @markjonharman

Add clibrate_strobe_output.py script to web-server folder
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

Set current limits for both V3 LED and Old 100W LED
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

Cleanup calibrate_strobe_output.py script
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

make kDAC_setting internal-only, not passed to C++ processes
  Software/web-server/configurations.json
Owners: @connorgallopo

Update wiring diagram and documentation
  docs/assets/images/enclosure_assembly/PiTrac_V3_Connection_Guide.svg
  docs/hardware/pcb-assembly.md
Owners: @jeshernandez, @connorgallopo, @markjonharman

Add installation files for spi1 setup and Python runtime dependencies
  packaging/build.sh
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

route kDAC_setting to calibration_data.json instead of user_settings
  Software/web-server/config_manager.py
Owners: @connorgallopo

change old led current to 9A
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

Change ADC and DAC to use SPI1 instead of SPI0. Change DIAG pin to SPI0 MOSI pin (GPIO 10)
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

fix broken SVG image path in pcb-assembly docs
  docs/hardware/pcb-assembly.md
Owners: @markjonharman

wire strobe calibration API endpoints into server.py
  Software/web-server/server.py
  Software/web-server/tests/test_strobe_calibration_api.py
Owners: @connorgallopo

strobe calibration manager skeleton with hardware open/close
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/tests/test_strobe_calibration_manager.py
Owners: @connorgallopo

add strobe calibration UI to calibration page
  Software/web-server/static/css/calibration.css
  Software/web-server/static/js/calibration.js
  Software/web-server/templates/calibration.html
Owners: @connorgallopo

move board version and enclosure to basic settings, fix strobe UI state handling
  Software/web-server/configurations.json
  Software/web-server/static/js/calibration.js
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/templates/calibration.html
Owners: @connorgallopo

remove standalone CLI calibration script, replaced by web UI
  Software/web-server/calibrate_strobe_output.py
Owners: @connorgallopo

add calibration algorithm (_find_dac_start, _calibrate) + fix macOS test compat
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/tests/test_strobe_calibration_manager.py
Owners: @connorgallopo

move strobe deps to web server: pip for spidev/gpiozero, apt for system gpio backends
  Software/web-server/requirements.txt
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

add async public API for strobe calibration (start, cancel, diagnostics, manual DAC, etc)
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/tests/test_strobe_calibration_manager.py
Owners: @connorgallopo

use DigitalOutputDevice instead of LED, harden close and gc handling
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/tests/test_strobe_calibration_manager.py
Owners: @connorgallopo

add pre-flight board check, use for loop, surface specific failure messages to UI
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/tests/test_strobe_calibration_manager.py
Owners: @connorgallopo

fix status polling data, null checks, settle timing, dac sweep edge case
  Software/web-server/static/js/calibration.js
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/tests/test_strobe_calibration_manager.py
Owners: @connorgallopo

use system lgpio instead of custom build, fixes python3-lgpio version conflict
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

Add standard fix in place of #189
  Software/web-server/strobe_calibration_manager.py
Owners: @connorgallopo

always configure base system params in config.txt even without cameras attached
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

fix config.txt setup when no cameras attached
  packaging/scripts/configure-cameras.sh
Owners: @connorgallopo

hardening
  packaging/build.sh
  packaging/src/lib/pitrac-common-functions.sh
Owners: @connorgallopo

proper progress, hide read for time being
  Software/web-server/strobe_calibration_manager.py
  Software/web-server/templates/calibration.html
Owners: @connorgallopo

fix test that broke in last commit
  Software/web-server/tests/test_strobe_calibration_manager.py
Owners: @connorgallopo

Rename kONNXDetected to kModelDetected
  Software/LMSourceCode/ImageProcessing/golf_ball.cpp
  Software/LMSourceCode/ImageProcessing/golf_ball.h
  Software/LMSourceCode/ImageProcessing/gs_camera.cpp
Owners: @jamespilgrim, @connorgallopo

Update web config for ncnn backend and directory-based model selection
  Software/web-server/config_manager.py
  Software/web-server/configurations.json
Owners: @connorgallopo

Switch build to ncnn primary, onnxruntime optional
  Software/LMSourceCode/ImageProcessing/meson.build
Owners: @jamespilgrim, @connorgallopo

Update config defaults for ncnn backend and YOLO26
  Software/LMSourceCode/ImageProcessing/golf_sim_config.json
Owners: @jamespilgrim, @connorgallopo

Add NCNN inference backend for Pi 5
  Software/LMSourceCode/ImageProcessing/ncnn_detector.cpp
  Software/LMSourceCode/ImageProcessing/ncnn_detector.hpp
Owners: @jamespilgrim, @connorgallopo

Rename config keys, add NCNN detection path, remove SAHI tiling
  Software/LMSourceCode/ImageProcessing/ball_image_proc.cpp
  Software/LMSourceCode/ImageProcessing/ball_image_proc.h
Owners: @jamespilgrim, @connorgallopo

Guard ONNX Runtime code behind HAS_ONNXRUNTIME preprocessor flag
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.cpp
  Software/LMSourceCode/ImageProcessing/onnx_runtime_detector.hpp
Owners: @jamespilgrim, @connorgallopo

.github/CODEOWNERS:

# Default owner of the ship. Not needed, but just adding. 
* @jamespilgrim
/.github/workflows/CODEOWNERS @jamespilgrim

# GitHub Workflows
/.github/workflows/ @jamespilgrim @connorgallopo @jeshernandez

# Top Level Software Ownership
/Software/ @jamespilgrim

# Python Web Server
/Software/web-server/ @connorgallopo 

# Yolo Model + Tooling
/Software/GroundTruthAnnotator/ @connorgallopo
/Software/LMSourceCode/ImageProcessing/ @jamespilgrim @connorgallopo

# Documentation files
/docs/ @jeshernandez @connorgallopo
/docs/hardware/ @markjonharman

# Installation Scripts
/Dev/ @jeshernandez @connorgallopo

# Hardware
/Hardware/ @markjonharman

# Packaging
/packaging/ @connorgallopo
